/* CSS Document */
html, body, div, span, object, iframe,h1, h2,
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn,
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody,
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary,time, mark,
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline-style:none;/*FF*/
}

body {
    line-height:1;
    user-select: none;
}

a{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
a:hover,a:focus{
    text-decoration:none;
    bblr:expression(this.onFocus=this.blur());/*IE*/
    outline-style:none;/*FF*/
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

button,input, select {
    vertical-align:middle;
    outline: none;
}
li{
    list-style: none;
}
.clear {
    clear: both;
}
/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
    url('../fonts/icomoon.woff?7kkyc2') format('woff'),
    url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
span {
    margin-top: 10px;
    font-family: "icomoon";
    font-size: 16px;
}
b {
    margin-top: 10px;
    font-family: "icomoon";
    font-size: 16px;
    font-style: normal;
    color: #d43f3a;
}
em {
    margin-top: 10px;
    font-family: "icomoon";
    font-size: 16px;
    font-style: normal;
    color: #b9def0;

}

/*版心开始*/
.inner {
    width: 1080px;
    margin: 0 auto;
}
/*版心结束*/



/*头部开始*/
.header {
    background-color: #160808;
    height: 120px;
    color: #ffffff;
}
.header .left {
    float: left;
}
.header .left img {
    margin-top: 20px;
    width: 208px;
}
.header .right {
    float: left;
    margin-left: 120px;
    line-height: 120px;

}
.header .right li {
    float: left;
    margin-left: 20px;
}
.header .right a {
    font-size: 16px;
    color: #ffffff;
}
.header .right .dropdown {
    margin-top: 40px;
    margin-left: 40px;
}
.header .right .scale-item a {
    color: black;
}
/*头部结束*/

/*导航开始*/
.nav {
    height: 60px;
    line-height: 60px;
}
.nav ul {
    float: left;
}
.nav li {
    display: inline-block;
    margin-right: 35px;
}
.nav a{
    color: #313131;
    font-size: 16px;
    font-weight: 500;
}


.nav input {
    width: 218px;
    height: 30px;
    margin-top: 15px;
    float: right;
}
.search {
    position: relative;
}
.search input {
    padding-left: 10px;
}
.search span{
    position: absolute;
    right: 9px;
    top: -6px;
    color: #313131;
}
/*导航结束*/


/*页脚开始*/
.foot li{
    float: left;
    margin-right: 85px;
}
.foot h1 {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}
.foot ul div {
    height: 30px;
    line-height: 30px;
}
.foot .footRight{
    float: right;
    margin-right: 0;
    position: relative;
}
.copyright {
    margin-top: 10px;
}
.copyright p {
    text-align: center;
    line-height: 30px;
}
.wechat {
    right: -90px;
    bottom: -127px;
    font-size: 10px;
    display: none;
}
section {
    width: 200px;
    position: absolute;
}
.wechat img {
    width: 100px;
    height: 100px;
    margin-left: 23px;
}
.phone {
    right: -90px;
    bottom: -50px;
    font-size: 14px;
    display: none;
}
.phone p {
    margin-top: 5px;
}
/*页脚结束*/

