.banner img {
    margin-top: 30px;
    width: 1080px;
    height: 200px;
}

.login {
    margin: 30px 0;
}
.login a {
    color: #160808;
    font-size: 28px;
}
.login .left {
    float: left;
    width: 250px;
    height: 270px;
    border: 1px solid #160808;
    margin-left: 60px;
    margin-top: 60px;
    text-align: center;
    padding: 0 50px 30px;
}
.login .left h2{
    height: 80px;
    line-height: 80px;
    font-size: 24px;
}
.login .left input{
    width: 188px;
    height: 30px;
    padding-left: 10px;
}
.login .left span {
    font-size: 16px;
    margin-top: 20px;
}
.login .left p {
    width: 250px;
    height: 40px;
    background-color: #160808;
    border: none;
    color: white;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
}
.login .left a {
    color: red;
    font-size: 12px;
}
.login .right {
    float: right;
    margin-top: 45px;
    margin-right: 60px;
    text-align: center;
}
.login .right p  {
    color: #160808;
    font-size: 24px;
}
#txtAccount,#txtPassword{
	color: red;
}
#txtActAndPsd{
	color: red;
}
