<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threebody.users.mapper.LoginMapper" >
	<select id="userLogin" resultType="com.threebody.users.entity.Users">
		select *
		from users
	    where userAccount = #{useraccount} and userPassword = #{userpassword}
	</select>
</mapper>