<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <link rel="stylesheet" href="../css/collect.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-table/1.15.4/bootstrap-table.min.css">
</head>
<body>
<!--头部开始-->
<div class="header ">
    <div class="inner">
        <div class="left clearfix">
            <a href="../index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="right">
            <ul class="clearfix">
                <li>
                    <a href="../index.html">首页</a>

                </li>
                <li><a href="#">全部产品</a></li>
                <li><a href="#">专柜地址</a></li>
                <li><a href="#" style="margin-right: 50px">客服中心</a></li>
                <li><a href="#">订阅电子杂志</a></li>
                <li>
                    <a href="../login.html">登录</a>
                    <a href="../resiter.html">注册</a>
                </li>
                <li><a href="aboutUs.html">我的购物车<span></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--头部结束-->

<!--清楚浮动-->
<div class="clear"></div>

<!--导航栏开始-->
<div class="nav">
    <div class="inner">
        <ul class="clearfix">
            <li><a href="#">脸部护理</a></li>
            <li><a href="#">身体护理</a></li>
            <li><a href="#">防晒隔离</a></li>
            <li><a href="#">明星产品</a></li>
            <li><a href="#">会员中心</a></li>
            <li><a href="#">特惠礼盒</a></li>
            <li><a href="#">品牌资讯</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="搜索三体">
            <span></span>
        </div>
    </div>
</div>
<!--导航栏结束-->

<!--广告开始-->
<div class="banner">
    <div class="inner">
        <img src="../images/faceP1.jpg" alt="">
        <div class="face">
            <p>ThreeBody</p>
            <i>
                ThreeBody产品蕴含大量的矿泉活性因子，<br>
                帮助肌肤焕发光彩，重现年轻活力。
            </i>
        </div>
        <div>
            <h4><a href="../index.html">首页</a> ></h4>
            <h4>我的收藏</h4>
        </div>
    </div>

</div>
<!--广告结束-->

<!--收藏列表开始-->
<div class="inner">
    <div id="wrapper">
        <!--表格-->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- start dataTables -->
                        <!-- 表格格式：面板中嵌套表格 -->
                        <div class="panel panel-default">
                            <!-- 面板头放：页面标题，刷新按钮，添加按钮 -->
                            <div class="panel-heading">
                                <font size="4">我的收藏</font>
                            </div>
                            <!-- 面板体放：表格内容，按照dataTable格式来构造-->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="dataTables_length" id="dataTables-example_length">
                                                    <label>每页
                                                        <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                        行数据
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div id="dataTables-example_filter" class="dataTables_filter">
                                                    <label>查找:
                                                        <input type="search" class="form-control input-sm" aria-controls="dataTables-example">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info"></table>
                                            <table class="table table-striped table-bordered table-hover"
                                                   id="dataTables-example">
                                                <thead>
                                                <tr>
                                                    <th>商品编号</th>
                                                    <th>商品图片</th>
                                                    <th>商品名称</th>
                                                    <th>商品类型</th>
                                                    <th>商品单价</th>
                                                    <th>上架时间</th>
                                                    <th>删除</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>${goods.gid }</td>
                                                        <td>${goods.gname }</td>
                                                        <td>${goods.gtype }</td>
                                                        <td>${goods.gprice }</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><a href="javascript:doRemove(${goods.gid })" style="color:rgb(212,106,64)">
                                                            <span class="glyphicon glyphicon-remove"></span></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!--<div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">
                                                显示第 1 行到第 8 行数据，总共 8 行数据
                                            </div>-->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                                <ul class="pagination" style="float: right;">
                                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                                        <a href="#">上一页</a>
                                                    </li>
                                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                                        <a href="#">1</a>
                                                    </li>
                                                    <li class="paginate_button next disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                                        <a href="#">下一页</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
         </div>
    </div>
</div>
<!--收藏列表结束-->


<!--页脚开始-->
<div class="foot">
    <div class="inner">
        <ul>
            <li>
                <h1>脸部护理</h1>
                <div>活泉系列-保湿</div>
                <div>蓝源系列-抗老</div>
                <div>奇迹系列-修护</div>
                <div>滢澈皙白系列-美白</div>
            </li>
            <li>
                <h1>身体护理</h1>
                <div>凝乳丝滑系列-润肤</div>
                <div>光感纤体系列-塑身</div>
                <div>保湿香氛系列-香氛</div>
                <div>阳光欢愉系列-清爽</div>
            </li>
            <li>
                <h1>防晒隔离</h1>
                <div>防晒</div>
                <div>隔离</div>
                <div>气垫</div>
            </li>
            <li>
                <h1>品牌故事</h1>
                <div>ThreeBody故事</div>
                <div>逾60年致力于护肤 </div>
                <div>ThreeBody灵魂成分 </div>
                <div>ThreeBody的承诺 </div>
            </li>
            <li>
                <h1>帮助中心</h1>
                <div>订单查询</div>
                <div>常见问题</div>
                <div>联系我们</div>
                <div>法律信息</div>
                <div>网站地图</div>
            </li>
            <li class="footRight">
                <h1>关注我们</h1>
                <a href="https://weibo.com/u/6434760509"> <span style="color: red"></span></a>
                <span id="wechat" style="color: lawngreen"></span>
                <span id="phone" style="color: deepskyblue"></span>
                <section class="wechat">
                    <p>了解详情请关注我们的官方微信号</p>
                    <img src="../images/wechat.jpg" alt="">
                </section>
                <section class="phone">
                    <p>欢迎您致电我们的服务电话!</p>
                    <p>&emsp;15363391819</p>
                </section>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="copyright">
            <p> ©ThreeBody男妆版权所有:韩山师范学院计算机与信息工程学院“三体”小组，其中成员有丘彪、徐奕海、杨小辉、廖伟俊、何佳佳、崔灵涛。
            </p>
            <p>
                抄袭必追究法律责任。欢迎探讨学习！
            </p>
        </div>
    </div>
</div>
<!--页脚结束-->

<!--js开始-->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/bootstrap-table/1.15.4/bootstrap-table.min.js"></script>
<script src="https://cdn.staticfile.org/bootstrap-table/1.15.4/locale/bootstrap-table-zh-CN.min.js"></script>

<!--页脚“关注我们”模块特效开始-->
<script>
    $('#wechat').mouseenter(function () {
        $('.wechat').css({display:"block"})
    }).mouseleave(function () {
        $('.wechat').css({display:"none"})
    })
    $('#phone').mouseenter(function () {
        $('.phone').css({display:"block"})
    }).mouseleave(function () {
        $('.phone').css({display:"none"})
    })
</script>
<!--页脚“关注我们”模块特效结束-->

<!--js结束-->
</body>
</html>