<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threebody.shoppingcart.mapper.GoodsEvaluationInfoMapper" >
 
 <select id="selectGoodsEvaluationInfo" parameterType="Integer" resultType="map" >
 select gevaId,goodsName,gevaText,userPetName,gevaLevel,gevaDate from goodsevaluation,goods,users
where goodsevaluation.goodsId=goods.goodsId  and goodsevaluation.userId=users.userId and goodsevaluation.goodsId=#{goodsId}
 </select>


</mapper>