<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threebody.shoppingcart.mapper.OrderItemsMapper" >
  <resultMap id="BaseResultMap" type="com.threebody.shoppingcart.entity.OrderItems" >
    <id column="itemsId" property="itemsid" jdbcType="INTEGER" />
    <result column="ordersId" property="ordersid" jdbcType="VARCHAR" />
    <result column="goodId" property="goodid" jdbcType="INTEGER" />
    <result column="itemsNum" property="itemsnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    itemsId, ordersId, goodId, itemsNum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.threebody.shoppingcart.entity.OrderItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderitems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderitems
    where itemsId = #{itemsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderitems
    where itemsId = #{itemsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.threebody.shoppingcart.entity.OrderItemsExample" >
    delete from orderitems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.threebody.shoppingcart.entity.OrderItems" >
    insert into orderitems (itemsId, ordersId, goodId, 
      itemsNum)
    values (#{itemsid,jdbcType=INTEGER}, #{ordersid,jdbcType=VARCHAR}, #{goodid,jdbcType=INTEGER}, 
      #{itemsnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.threebody.shoppingcart.entity.OrderItems" >
    insert into orderitems
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemsid != null" >
        itemsId,
      </if>
      <if test="ordersid != null" >
        ordersId,
      </if>
      <if test="goodid != null" >
        goodId,
      </if>
      <if test="itemsnum != null" >
        itemsNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemsid != null" >
        #{itemsid,jdbcType=INTEGER},
      </if>
      <if test="ordersid != null" >
        #{ordersid,jdbcType=VARCHAR},
      </if>
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="itemsnum != null" >
        #{itemsnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.threebody.shoppingcart.entity.OrderItemsExample" resultType="java.lang.Integer" >
    select count(*) from orderitems
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderitems
    <set >
      <if test="record.itemsid != null" >
        itemsId = #{record.itemsid,jdbcType=INTEGER},
      </if>
      <if test="record.ordersid != null" >
        ordersId = #{record.ordersid,jdbcType=VARCHAR},
      </if>
      <if test="record.goodid != null" >
        goodId = #{record.goodid,jdbcType=INTEGER},
      </if>
      <if test="record.itemsnum != null" >
        itemsNum = #{record.itemsnum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderitems
    set itemsId = #{record.itemsid,jdbcType=INTEGER},
      ordersId = #{record.ordersid,jdbcType=VARCHAR},
      goodId = #{record.goodid,jdbcType=INTEGER},
      itemsNum = #{record.itemsnum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.threebody.shoppingcart.entity.OrderItems" >
    update orderitems
    <set >
      <if test="ordersid != null" >
        ordersId = #{ordersid,jdbcType=VARCHAR},
      </if>
      <if test="goodid != null" >
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="itemsnum != null" >
        itemsNum = #{itemsnum,jdbcType=INTEGER},
      </if>
    </set>
    where itemsId = #{itemsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.threebody.shoppingcart.entity.OrderItems" >
    update orderitems
    set ordersId = #{ordersid,jdbcType=VARCHAR},
      goodId = #{goodid,jdbcType=INTEGER},
      itemsNum = #{itemsnum,jdbcType=INTEGER}
    where itemsId = #{itemsid,jdbcType=INTEGER}
  </update>
</mapper>